<launch>
    <!-- Static Transform from world to map -->
    <node pkg="tf2_ros" exec="static_transform_publisher" name="world_to_map" 
          args="0 0 0 0 0 0 husky/world husky/map" />

    <!-- Static Transform from map to odom -->
    <node pkg="tf2_ros" exec="static_transform_publisher" name="map_to_odom" 
          args="0 0 0 0 0 0 husky/map husky/odom" />

    <!-- Static Transform from base_link to imu_link -->
    <node pkg="tf2_ros" exec="static_transform_publisher" name="base_link_to_imu_link" 
          args="0 0 0.2 0 0 0 husky/base_link husky/imu_link" />

    <!-- Static Transform from base_link to lidar_link -->
    <node pkg="tf2_ros" exec="static_transform_publisher" name="base_link_to_lidar_link" 
          args="0.2 0 0.3 0 0 0 husky/base_link husky/lidar_link" />

    <!-- Dynamic Transform Node -->
    <node pkg="husky_tf_broadcaster" exec="husky_tf_broadcaster" name="husky_tf_broadcaster" />
</launch>

